<template>
  <div class="container">
    <header>
      <h2>KINGS</h2>
    </header>
    <main>
      <form action="" method="post">
        <div class="header">Add new Product</div>
        <div class="item">
          <label for="name">Name of Product</label>
          <input type="text" name="name" id="name" placeholder="" v-model="product_name" />
        </div>
        <div class="item">
          <label for="price">Product Price</label>
          <input type="number" name="" id="" placeholder="" v-model="product_price" />
        </div>
        <div class="item">
          <label for="supplier">Name of Supplier</label>

            <select name="" id="" v-model="supplier_id">
                <option value="" disabled selected>Select a supplier</option>
                <option v-for="(supplier, index ) of suppliers" :key="index" :value="supplier?.id">{{supplier?.name}}</option>
            </select>

        </div>
        <div class="item">
          <button type="button" :disabled="!product_name || !product_price || !supplier_id" @click="addProduct()">Add Product</button>
        </div>
      </form>
    </main>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { getRequest, postRequest } from '../service/httpClient';

export default defineComponent({
  name: "addProduct",
  data() {
      return {
          suppliers: [],
          product_name: null,
          product_price: 0,
          supplier_id: 0
      }
  },
  mounted() {
      this.getSuppliers()
  },
  methods: {
      getSuppliers() {
          const url = 'suppliers';
          getRequest(url).then(
              res => {
                  console.log(res.data.data)
                  this.suppliers = res.data.data;
              }
          ).catch(err => console.log(err))
      },

      addProduct() {

        const url = 'products'

        const productModel = {
        name: this.product_name,
        price: this.product_price,
        supplier_id : this.supplier_id
        }

        postRequest(url, productModel).then(
            () => {
                this.$router.push('/product-list');
            }
        ).catch(
            err => {
                console.log(err)
            }
        )


      }
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 26px;
  color: #0f0f0f;
}

header {
  text-align: center;
  padding: 50px 0;
}
header h1 {
  font-size: 25px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  padding: 6rem;
  max-width: 564px;
  width: 100%;
}
form .header {
  font-weight: bold;
  font-size: 41px;
  line-height: 26px;
  margin-bottom: 56px;
  text-align: left;
}
form .item {
  margin-bottom: 18px;
  position: relative;
}
.item label {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: .8rem;
  display: block;
  text-align: left;
}
form .item .lock {
  position: absolute;
  top: 12px;
  right: 0;
}
form .item input:not(input[type="checkbox"]), select {
  padding: 18px 0 18px 24px;
  width: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
}
form .item input[type="checkbox"] {
  margin-right: 14px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
}
form .item label,
p {
  font-size: 16px;
}
form .item input::placeholder {
  color: #d1d1d1;
}
form button {
  width: 100%;
  padding: 18px 0;
  border: none;
  background: #ffd600;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
form button:disabled {
    cursor: not-allowed;
}
</style>

