<template>
  <div class="container">
    <header>
      <h2>KINGS</h2>
    </header>
    <main>
      <form action="">
        <div class="header">
          Register
        </div>
        <div class="row">
          <div class="item">
            <input type="text" name="" id="" placeholder="first name" v-model="first_name" />
          </div>
          <div class="item">
            <input type="text" name="" id="" placeholder="last name" v-model="last_name" />
          </div>
        </div>
        <div class="item">
          <input type="email" name="" id="" placeholder="Your email address" v-model="email_address" />
        </div>
        <div class="item">
          <input type="password" name="" id="" placeholder="password must start with upper-case" v-model="password" />
          <img src="../assets/icons/Lock.svg" alt="lock" class="lock" />
        </div>
        <div class="item">
          <input type="password" name="" id="" placeholder="confirm password" v-model="confirmPassword" />
          <img src="../assets/icons/Lock.svg" alt="lock" class="lock" />
        </div>
        <div class="item">
          
          
          <button type="button" :disabled="!first_name || !last_name || !email_address || password && (password !== confirmPassword)" @click="register()">Register</button>
        </div>
      </form>
    </main>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { postRequestWithoutAuth } from '../service/httpClient';

export default defineComponent({
  name: 'Register',
  data() {
    return { 
      first_name: null,
      last_name: null,
      email_address: null,
      password: null,
      confirmPassword: null
    }
  },
  methods: {

    register() {
      const url = 'user/register';

      const registerModel = {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email_address,
        password: this.password
      } 

      postRequestWithoutAuth(url, registerModel).then(
        res => {
          console.log(res)
          this.$router.push('/login')
        }
      ).catch(
        err => {
          console.log(err)
        }
      )

    }

  },
  components: {
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 26px;
  color: #0f0f0f;
}

header {
  text-align: center;
  padding: 50px 0;
}
header h1 {
  font-size: 25px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  padding: 6rem 3rem;
  max-width: 564px;
  width: 100%;
}
form .header {
  font-weight: bold;
  font-size: 41px;
  line-height: 26px;
  margin-bottom: 56px;
}
form .item {
  margin-bottom: 18px;
  position: relative;
}
form .item .lock {
  position: absolute;
  top: 12px;
  right: 0;
}
form .item input:not(input[type="checkbox"]) {
  padding: 18px 0 18px 24px;
  width: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
}
form .item input[type="checkbox"] {
  margin-right: 14px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
}
form .item label,
p {
  font-size: 16px;
}
form .item input::placeholder {
  color: #d1d1d1;
}
form button {
  width: 100%;
  padding: 18px 0;
  border: none;
  background: #ffd600;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
}
.row > * {
  flex: 1;
}
</style>

