<template>
  <div class="container">
    <header>
      <h2>KINGS</h2>
    </header>
    <main>
      <form action="" method="post">
        <div class="header">
          Log in
        </div>
        <div class="item">
          <input type="email" name="" id="" placeholder="Your email address" v-model="email" />
        </div>
        <div class="item">
          <input type="password" name="" id="" placeholder="Your password" v-model="password" />
          <img src="../assets/icons/Lock.svg" alt="lock" class="lock" />
        </div>
        <div class="item">
          <router-link to="/register" >Sign up</router-link>
        </div>
        <div class="item">
          <button type="button" :disabled="!email || !password" @click="login()">Log in</button>
        </div>
        <router-link to="/admin-login">Login as Admin</router-link>
      </form>
    </main>
  </div>
</template>

<script>

import jwt_decode from "jwt-decode";
import {postRequestWithoutAuth} from '../service/httpClient';

export default {
  name: "UserLogin",
    data() {
        return {
            email: null,
            password: null
        }
    },
  methods: {

    login() {
      const url = 'user/login';
      const data = {
        email: this.email,
        password: this.password
      }
      postRequestWithoutAuth(url, data).then(
        res => {
          const token = res.data.data.token;
          const decoded_data = jwt_decode(token)
          localStorage.setItem('user_profile', JSON.stringify(decoded_data));
          localStorage.setItem('token', token);
          this.$router.push('/product-list')
        }
      ).catch(
        err => console.log(err)
      )
    }

  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 26px;
  color: #0f0f0f;
}

header {
  text-align: center;
  padding: 50px 0;
}
header h1 {
  font-size: 25px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  padding: 6rem;
  max-width: 564px;
  width: 100%;
}
form .header {
  font-weight: bold;
  font-size: 41px;
  line-height: 26px;
  margin-bottom: 56px;
}
form .item {
  margin-bottom: 18px;
  position: relative;
}
form .item .lock {
  position: absolute;
  top: 12px;
  right: 0;
}
form .item input:not(input[type="checkbox"]) {
  padding: 18px 0 18px 24px;
  width: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
}
form .item input[type="checkbox"] {
  margin-right: 14px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
}
form .item label,
p {
  font-size: 16px;
}
form .item input::placeholder {
  color: #d1d1d1;
}
form button {
  width: 100%;
  padding: 18px 0;
  border: none;
  background: #ffd600;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
</style>
